{% extends 'admin.twig' %}

{% set title %}{{ 'RebelMetrics_RebelMetrics'|translate }}{% endset %}
{% block content %}
<div>
    <div class="card">
        <div class="card-content">
            <div style="float:right">
                <a style="text-decoration:none" href="https://digitalist.cloud/">
                <img src="plugins/RebelMetrics/assets/images/dot.png" height="40" />
                </a>
            </div>
            <h2 class="card-title">{{ 'RebelMetrics_RebelMetrics'|translate }}</h2>
            <p>
                {{ 'RebelMetrics_Requirements'|translate|raw }}
            </p>
        </div>
    </div>
<div>
    <div>
        <div class="card">
            <div class="card-content">
                <h2 class="card-title">{{ 'RebelMetrics_Checks'|translate }}</h2>
                <table class="card card-table entityTable">
                    <thead>
                    <tr>
                      <th>{{ 'RebelMetrics_NameOfCheck'|translate }}</th>
                      <th>{{ 'RebelMetrics_Status'|translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ 'RebelMetrics_Configured'|translate }}</td>
                        <td>{{ isSetup|raw }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'RebelMetrics_ExportFolderWriteable'|translate }}</td>
                      <td>{{ exportWrite|raw }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'RebelMetrics_GzipExists'|translate }}</td>
                      <td>{{ gzipExists|raw }}</td>
                    </tr>
                    <tr>
                      <td>{{ 'RebelMetrics_S3LibExists'|translate }}</td>
                      <td>{{ s3LibExists|raw }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'RebelMetrics_StorageIsValid'|translate }}</td>
                        <td>{{ storageValid|raw }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'RebelMetrics_CanCreateGzip'|translate }}</td>
                        <td>{{ isGzipable|raw }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'RebelMetrics_IsQueryPresent'|translate }}</td>
                        <td>{{ isQueryPresent|raw }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'RebelMetrics_IsPluginsPresent'|translate }}</td>
                        <td>{{ isPluginsPresent|raw }}</td>
                    </tr>

                    </tbody>
                    </table>
            </div>
        </div>
    <div>
{% endblock %}